@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
main{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(21, 20, 20);
}
.todoList{
  width: 600px;
  min-height: 300px;
  height: auto;
  background-color: rgb(255, 253, 253);
  border-radius: 15px;
  padding: 15px 0 20px 0;
}
.title{
display: flex;
align-items: center;
justify-content: center;
gap: 15px;
border-bottom: 1px solid black;
padding-bottom: 10px;
img{
  width: 40px;
}
}
form{
  margin-top: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  gap: 5px;
  input{
    height: 100%;
    width: 60%;
    background-color: transparent;
    border: 2px solid rgb(48, 193, 48);
    border-radius: 10px;
    outline: none;
    padding: 5px 10px;
  }
  button{
    height: 100%;
    width: 12%;
    border: 2px solid rgb(23, 189, 23);
    background-color:  rgb(23, 189, 23);
    transition: 0.3s ease;
    font-weight: bold;
    color: white;
    cursor: pointer;
    border-radius: 9px;
  }
  button:hover{
    background-color: transparent;
    color: black;
  }
}
.btns{
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tasksHere{
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 95%;
  margin: 25px auto 0 auto;
}
.task{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid rgb(8, 8, 8);
  border-radius: 10px;
  padding: 15px 10px;
  min-height: 80px;
  height: auto;
  transition: all 0.3s ease;
  background-color: rgb(9, 9, 9);
  h2{
    font-size: 1.1rem;
    font-weight: 600;
    text-transform: capitalize;
  }
  p{
    margin-top: 10px;
    margin-bottom: 15px;
  }
}
.buttons{
  display: flex;
  align-items: center;
  gap: 10px;
}

.task:hover{
  min-height: 95px;
}

.bbb{
  transition: all 0.3s ease;
}
.lll{
  font-size: 13px !important;
  font-weight: bold !important;
}

.status{
  padding: 0px 8px;
  border-radius: 20px;
  font-size: 12px;
  color: lightblue;
  font-weight: bold;
}
@media(max-width:900px){
  .title{
    h1{
      font-size: 1.6rem;
    }
  }
  .todoList{
    width: 100%;
    min-height: 100vh;
    border-radius: 0;
  }
  form{
    input{
       width: 75%;
    }
    button{
      width: 20%;
      height: 90%;
    }
  }
  .tasksHere{
    width: 97%;
  }
 
}
